
body {
    overflow-y: scroll;
    padding-top: 40px;
    padding-bottom: 30px;
}
span2 {
    background-color: #2aabd2;
}


.profile-image {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 30px;
}

.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}

.thumb img {
      filter: none; /* IE6-9 */
      -webkit-filter: grayscale(0);
      border-radius:5px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding:5px;
    }
    .thumb img:hover {
      -webkit-filter: grayscale(1);
    }
    .thumb {
      padding:5px;
    }



.input[type="text"] {
   border: 1px solid #cccccc;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;;
   background: #ffffff !important;
   outline: none;
   height: 24px;
   width: 120px;
   color: #cccccc;
   font-size: 11px;
}


.indent {
    margin: 10px 1px 20px;
}

.indent-buton {
    margin: 10px 1px 20px;
}
